.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  color: #000000;
  line-height: 1.6;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #ccc; 
  color: #333; 
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.button:hover {
  background-color: #999; 
}

/* New Stuff */
.gas-stations-container {
  max-width: 800px; /* Adjust the maximum width based on your layout */
  margin: 0 auto;
  padding: 20px;
}

.gas-station-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gas-station-card h2 {
  color: #3498db;
  font-size: 24px;
  margin-bottom: 10px;
}

.gas-station-card {
  margin: 8px 0;
}

.gas-station-card {
  color: #000000;
}

.gas-station-card p.price {
  color: #e74c3c; /* Red color for price */
  font-weight: bold;
}

